@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-transform: uppercase;
}

#menu {
  width: 80vw;
  background-color: white;
  z-index: 10;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: all ease .40s;
  transform: translate(-100%,0);
}
#modal_menu {
  width: 20vw;
  z-index: 10;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  right: 0;
  top: 0;
  transition: all ease .40s;
  
  transform: translate(-100vw,0);
}
#modal_menu.open {
  transform: translate(0,0);
}
#menu.open {
  transform: translate(0,0);
}